{% extends 'core/base_admin.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
    {% block extra_css %}    
    {% endblock extra_css %}    
    <header class='mb-5'>
        <h2 class='h2 medium text-blue'>Lista de Cotizaciones</h2>
        <div class="d-flex flex-column flex-lg-row mt-2">
        </div>
    </header>
    <div class="d-flex flex-column flex-lg-row my-5">
        <div class="my-auto d-flex flex-column flex-lg-row ms-lg-auto">
            <div class="feedback body--small normal"></div>
        </div>
        <form method="post" action="" class='col-12 col-lg-6 input-container-search my-auto me-3'>
            {% csrf_token %}
            <input name="search" id="search" type="text" placeholder='Buscar por Nombre'/>
        <form>
    </div>
    <!---->
    <div class="table-container mt-5">
        <table class="table table-user">
            <thead>
                <tr>
                    <th width="10%" scope="col">Estado</th>
                    <th width="12%" scope="col">Cliente</th>
                    <th width="10%" scope="col">Mail</th>
                    <th width="10%" scope="col">
                        <a href="{% url 'descarga_reporte' %}" title="Descarga Proveedores">
                            <span class="material-icons-outlined">
                                cloud_download
                            </span>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for p in p_list_paginate %}
                    <tr>
                        <td>{{p.proveedor_name}}</td>
                        <td>{{p.proveedor_mail}}</td>
                        <td>{{p.proveedor_phone}}</td>
                        <td>
                            <a href="{% url 'proveedor_ver' p.id %}">Ver</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Paginación -->
            {% if paginator.num_pages > 1 %}
                <div class="d-flex">
                    <nav aria-label="Page navigation example" class="ms-auto">
                        <ul class="pagination pagination-table">
                            {% if p_list_paginate.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ p_list_paginate.previous_page_number}}&search={{search}}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                                </li>                        
                            {% endif %}
                            {% for i in paginator.page_range %}
                                <li class="page-item {% if p_list_paginate.number == i %}active{% endif %}">
                                    <a class="page-link" href="?page={{ i }}&search={{search}}">{{ i }}</a>
                                </li>                        
                            {% endfor %}
                            {% if p_list_paginate.has_next %}
                                <li class="page-item ">
                                    <a class="page-link" href="?page={{ p_list_paginate.next_page_number }}&search={{search}}">&raquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            {% endif %}  
        <!-- Paginación --> 
        <div class="d-flex justify-content-center mx-0-5--custom">
            <a href="{% url 'cotizaciones_main' %}" class="button">Regresa</a>
        </div>    
    </div>




    {% block extrajs %}    
    {% endblock extrajs %}    
{% endblock %}