{% extends 'core/base_admin.html' %}
{% load static %}
{% block content %}
    {% block extra_css %}    
    {% endblock extra_css %}    
    <div class="col-md-11">
        <div class="mb-3">
            <header class='mb-4'>
                <h2 class='h2 medium text-blue'>Módulo Gestión de ventas</h2>
            </header>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card bg-skin" style="width: auto;">
                            <div class="card-body">
                                <h3 class="card-title">Ventas</h3>
                                <div class="d-flex justify-content-center mx-0-5--custom">
                                    <p class="card-text">{% lorem 1 b random %}</p>
                                </div>
                                <div class="d-flex justify-content-center mx-0-5--custom mt-2">
                                    <a href="{% url 'ventas_list_venta' %}" class="btn" >
                                        Listado de ventas
                                    </a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="{% url 'ventas_venta_add' %}" class="btn" >
                                        Crear venta
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>                        
                    <div class="col-sm-4">
                        <div class="card bg-skin" style="width: auto;">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Heroes</h5> -->
                                <div class="d-flex justify-content-center mx-0-5--custom">
                                    <p class="card-text">{% lorem 1 b random %}</p>
                                </div>
                                <div class="d-flex justify-content-center mx-0-5--custom mt-2">
                                    <a href="" class="text-dark" title="Administrar categorías">
                                        <span class="material-icons-outlined">
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>             
                </div>
            </div>            
        </div>
    </div>
    {% block extrajs %}    
    {% endblock extrajs %}    
{% endblock %}