{% extends 'core/base_admin.html' %}
{% load static %}
{% block content %}
{% block extrahead %}

{% endblock %}
    <main role="main">
        <div class="container col-12 mt-3";>
            <div class="col-12  mt-3 border">
                <h3 class="px-5 py-4" style="text-align: center;">Bienvenido a MyPyme{{request.user.first_name}} {{request.user.last_name}} </h3> 
                <div class="row " style=" display: flex; justify-content: center;">
                    <div class="col-12 col-sm-3 mb-3">
                        <a href="{% url 'users_main' %}" class=" boton form-control">Gestión Usuarios</a>               
                    </div>                                            
                </div>
                
            </div>
        </div>
    </main>
{% endblock %}
