{% load manifest %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>MYPYME</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone" rel="stylesheet">
        <link href="{% manifest 'styles.scss' %}"rel="stylesheet">
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">
        <link href="{% static 'css/index.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Sigmar&display=swap" rel="stylesheet">

        
    </head>
    <body>
        <nav id="sidebar" class='side-bar to-left' style="background-color: #d8f5d1;">
            <header class='my-xxl-4 my-1 mb-5'>
                <div id="expand-side-bar" class="float-button">
                    <div class="m-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="30px"
                            viewBox="0 0 24 24" width="30px"
                            fill="#1F2547">
                            <g>
                                <rect fill="none" height="24" width="24"/>
                            </g>
                            <g>
                                <g>
                                    <polygon points="15.5,5 11,5 16,12 11,19 15.5,19 20.5,12"/>
                                    <polygon points="8.5,5 4,5 9,12 4,19 8.5,19 13.5,12"/>
                                </g>
                            </g>
                        </svg>
                    </div>
                </div>
                <a href="">
                    <div style="display: flex; margin-left: 32px;">
                        <div class="avatar-normal-container" style="width: 50px; height: 50px;">
                            <img src="{% static 'assets/img/ojo.png' %}" alt="avatar" style=" align-items: left">
                         </div> 
                         <h1 class="titulo"> MyPyme</h1>   
                    </div>
                </a>
                <br>
                <div style="display: flex; flex-direction: column;align-items: center;">
                    <div class="avatar-normal-container">
                        <img src="{% static 'assets/img/no-avatar.jpg' %}" alt="avatar">
                    </div>
                </div>
            </header>
            <div class='menu'>
                <!--=== Menu Administrador ===-->  
                {% if template_name == 'admin_main.html' %}
                    <a href="{% url 'admin_main' %}" class='item active'>
                {% else %}
                    <a href="{% url 'admin_main' %}" class='item'>
                {% endif %}
                    <span class="material-icons-outlined">
                        admin_panel_settings
                    </span>
                    <p class='body--small'>Administrador</p>
                </a>
                <!--=== Fin Menú Admin ===-->   
                <!--=== Menu Inventario ===-->  
                {% if template_name == 'inventario/inventario_main.html' or template_name == 'inventario/crear_producto.html' or template_name == 'inventario/producto_list.html' or template_name == 'inventario/producto_ver.html' or template_name == 'inventario/carga_masiva_producto' or template_name == 'inventario/crear_category' or template_name == 'inventario/category_list' or template_name == 'inventario/category_ver' or template_name == 'inventario/carga_masiva_category'%}
                    <a href="{% url 'inventario_main' %}" class='item active'>
                {% else %}
                    <a href="{% url 'inventario_main' %}" class='item'>
                {% endif %}
                    <span class="material-icons-outlined">
                        inventory_2
                    </span>
                    <p class='body--small'>Inventario</p>
                </a>
                <!--=== Fin Menú Inventario ===-->   
                <!--=== Menu Proveedores ===-->  
                {% if template_name == 'proveedores/proveedores_main.html' or template_name == 'proveedores/proveedores_crear.html' or template_name == 'proveedores/proveedor_ver.html' or template_name == 'proveedores/proveedore_list.html' or template_name == 'proveedores/carga_masiva_proveedor'%}
                    <a href="{% url 'proveedores_main' %}" class='item active'>
                {% else %}
                    <a href="{% url 'proveedores_main' %}" class='item'>
                {% endif %}
                    <span class="material-icons-outlined">
                        work
                    </span>
                    <p class='body--small'>Clientes</p>
                </a>
                    <!--=== Fin Menú Proveedores ===-->   
                <!--=== Menu Cotizacion ===-->  
                {% if template_name == 'cotizacion/cotizaciones_main.html' or template_name == 'cotizacion/rear_cotizacion.html' or template_name == 'proveedores/proveedor_ver.html' or template_name == 'cotizacion/lista_cotizacion.html' or template_name == 'proveedores/carga_masiva_proveedor'%}
                    <a href="{% url 'cotizaciones_main' %}" class='item active'>
                {% else %}
                    <a href="{% url 'cotizaciones_main' %}" class='item'>
                {% endif %}
                    <span class="material-icons-outlined">
                        request_page
                    </span>
                    <p class='body--small'>Cotizaciones</p>
                </a>
                <!--=== Fin Menú Cotizacion ===-->
                <!--=== Menu Ventas ===-->  
                {% if template_name == 'proveedores/proveedores_main.html' or template_name == 'proveedores/proveedores_crear.html' or template_name == 'proveedores/proveedor_ver.html' or template_name == 'proveedores/proveedore_list.html' or template_name == 'proveedores/carga_masiva_proveedor'%}
                    <a href="{% url 'ventas_main' %}" class='item active'>
                {% else %}
                    <a href="{% url 'ventas_main' %}" class='item'>
                {% endif %}
                    <span class="material-icons-outlined">
                        shopping_cart_checkout
                    </span>
                    <p class='body--small'>Ventas</p>
                </a>
                <!--=== Fin Menú Ventas ===-->
                <!--=== Menu Dashboard ===-->  
                {% if template_name == 'proveedores/proveedores_main.html' or template_name == 'proveedores/proveedores_crear.html' or template_name == 'proveedores/proveedor_ver.html' or template_name == 'proveedores/proveedore_list.html' or template_name == 'proveedores/carga_masiva_proveedor'%}
                    <a href="{% url 'dashboard_main' %}" class='item active'>
                {% else %}
                    <a href="{% url 'dashboard_main' %}" class='item'>
                {% endif %}
                    <span class="material-icons-outlined">
                        equalizer
                    </span>
                    <p class='body--small'>Dashboard</p>
                </a>
                <!--=== Fin Menú Dashboard ===-->
                <!--=== Menu Correo ===-->  
                {% if template_name == 'proveedores/proveedores_main.html' or template_name == 'proveedores/proveedores_crear.html' or template_name == 'proveedores/proveedor_ver.html' or template_name == 'proveedores/proveedore_list.html' or template_name == 'proveedores/carga_masiva_proveedor'%}
                    <a href="{% url 'correo1' %}" class='item active'>
                {% else %}
                    <a href="{% url 'correo1' %}" class='item'>
                {% endif %}
                    <span class="material-icons-outlined">
                        mail
                    </span>
                    <p class='body--small'>Correo</p>
                </a>
                <!--=== Fin Menú Correo ===-->      
            </div>
            <div class='side-bar-footer mb-5'>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button class='button' type="submit">Cerrar Sesión</button>
                    </form>                    
            </div>
        </nav>
        <div class='dashboard-container'>
            {% block content %}{% endblock %}
        </div>
        <script src="{% manifest 'sidebar.js' %}"></script>
        <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>