{% extends 'core/base_admin.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}
<header class='mb-4'>
    <h2 class='h2 medium text-blue'>Ver Proveedor</h2>
</header>
<div class="col-md-11">
    <div class="mb-3">
        <div class="d-flex flex-column align-items-center align-items-lg-start">
            <form method="post" action="{% url 'proveedor_edit' proveedor_id=proveedor_data.id %}">
                {% csrf_token %}
                <div class="col-12 col-lg-12 row row-cols-1 row-cols-md-1 g-2 p-lg-0-5">
                    <div class="mb-0 col-md-12">
                        <label for="proveedor_name" class="form-label">Nombre Proveedor</label>
                        <input type="text" class="form-control" name="proveedor_name" id="proveedor_name" value="{{proveedor_data.proveedor_name}}" placeholder="Nombre proveedor" style="text-transform: capitalize;" required>
                        <div class="feedback body--small normal"></div>
                    </div>
                    <div class="mb-0 col-md-12">
                        <label for="proveedor_mail" class="form-label">Mail Proveedor</label>
                        <input type="text" class="form-control" name="proveedor_mail" id="proveedor_mail" value="{{proveedor_data.proveedor_mail}}" placeholder="Mail del proveedoro" style="text-transform: capitalize;" required>
                        <div class="feedback body--small normal"></div>
                    </div>
                    <div class="mb-0 col-md-12">
                        <label for="proveedor_phone" class="form-label">Telefono Proveedor</label>
                        <input type="text" class="form-control" name="proveedor_phone" id="proveedor_phone" value="{{proveedor_data.proveedor_phone}}" placeholder="Telefono" style="text-transform: capitalize;" required>
                        <div class="feedback body--small normal"></div>
                    </div>
                    <div class="mb-0 col-md-12">
                        <div class="d-flex justify-content-center mb-2">
                            <div class="d-flex justify-content-center mx-0-5--custom">
                                <button type="submit" class="button">Editar</button>
                            </div> 
                            <div class="d-flex justify-content-center mx-0-5--custom">
                                <a href="{% url 'proveedor_list' %}" class="button">Regresa</a>
                            </div>  
                            <div class="d-flex justify-content-center mx-0-5--custom">
                                <a href="{% url 'proveedor_delete' proveedor_id=proveedor_data.id %}">Eliminar</a>
                            </div>                                  
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
