{% extends 'core/base_admin.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}
<header class='mb-4'>
    <h2 class='h2 medium text-blue'>Ver Producto</h2>
</header>
<div class="col-md-11">
    <div class="mb-3">
        <div class="d-flex flex-column align-items-center align-items-lg-start">
            <form method="post" action="{% url 'producto_edit' product_id=product_data.id %}">
                {% csrf_token %}
                <div class="col-12 col-lg-12 row row-cols-1 row-cols-md-1 g-2 p-lg-0-5">
                    <div class="mb-0 col-md-12">
                        <label for="product_name" class="form-label">Nombre Producto</label>
                        <input type="text" class="form-control" name="product_name" id="product_name" value="{{product_data.product_name}}" placeholder="Nombre producto" style="text-transform: capitalize;" required>
                        <div class="feedback body--small normal"></div>
                    </div>
                    <div class="mb-0 col-md-12">
                        <label for="product_price" class="form-label">Precio Producto</label>
                        <input type="text" class="form-control" name="product_price" id="product_price" value="{{product_data.product_price}}" placeholder="Precio del Producto" style="text-transform: capitalize;" required>
                        <div class="feedback body--small normal"></div>
                    </div>
                    <div class="mb-0 col-md-12">
                        <label for="product_state" class="form-label">Estado Producto</label>
                        <input type="text" class="form-control" name="product_state" id="product_state" value="{{product_data.product_state}}" placeholder="Estado" style="text-transform: capitalize;" required>
                        <div class="feedback body--small normal"></div>
                    </div>
                    <div class="mb-0 col-md-12">
                        <label class="required" for="product_category">Categoria:</label>
                        <select name="product_category" id="product_category" class="form-control border border-danger" required>
                            <option value="category.id">----------</option>
                            {% for category in category_list %}
                            <option value="{{category.id}}" {% if category.id == category_selected.id %}selected{% endif %}>{{category.category_name}}</option>
                            {% endfor %}
                        </select>
                    </div> 
                    <div class="mb-0 col-md-12">
                        <div class="d-flex justify-content-center mb-2">
                            <div class="d-flex justify-content-center mx-0-5--custom">
                                <button type="submit" class="button">Editar</button>
                            </div> 
                            <div class="d-flex justify-content-center mx-0-5--custom">
                                <a href="{% url 'producto_list' %}" class="button">Regresa</a>
                            </div>  
                            <div class="d-flex justify-content-center mx-0-5--custom">
                                <a href="{% url 'producto_delete' product_id=product_data.id %}">Eliminar</a>
                            </div>                                  
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
